<div class="container coasters-index">

  <h1 style="font-weight: 100">{{coaster.name}}</h1>

  <h4>Descripción</h4>
  <p>{{coaster.description}}</p>
  <p><strong>Longitud: </strong> {{coaster.length}}m | <strong>Inversiones: </strong> {{coaster.inversions}}</p>

  <hr>

  <h5>Sobre el parque</h5>
  
  <p><strong>Nombre</strong>: {{coaster.park.name}}</p>
  <p><strong>Descripción</strong>: {{coaster.park.description}}</p>

  <a href="/coasters/edit?id={{coaster.id}}" class="btn btn-dark">Editar</a>
  <a href="/coasters/delete?id={{coaster.id}}" class="btn btn-dark">Eliminar</a>
  <a href="/coasters" class="btn btn-dark">Volver</a>

</div>